h1 {
  color: blue;
  font-family: "proxima nova";
  font-weight: 100;
  font-size: 56px;


  border: solid 2px blue;
  border-radius: 50px;

  padding: 10px 80px
}
#display {
  color: red;
  font-family: fantasy;
  font-weight: 100;
  font-size: 32px;

}
